*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./img/wall.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width:900px){
  body{
    background-image: url(./img/wall.jpg);
    background-position: center;
    background-size: cover;
    display: block;
  }
  #flex{
    display: block;
    align-items: center;
  }
  #form{
    width: 110vh;
    height: 80vh;
    border: 10px solid black;
    border-style:double;
    box-shadow: 0 0 15px;
    background-color: rgb(240, 236, 228);
    border-radius: 20px;
    margin: 30px;
}
#table{
  border: 10px solid black;
  border-style: double;
  width: 110vh;
  height: 80vh;
  overflow: auto;
  background-color: rgb(240, 236, 228);
  border-radius: 20px;
  margin: 40px;
  }

}

@media (max-width:600px){
  body{
    background-image: url(./img/wall.jpg);
    background-position: center;
    background-size: cover;
    display: block;
  }
  #flex{
    display: block;
    align-items: center;
  }
  #form{
    width: 80vh;
    height: 80vh;
    border: 10px solid black;
    border-style:double;
    box-shadow: 0 0 15px;
    background-color: rgb(240, 236, 228);
    border-radius: 20px;
    margin: 30px;
}

}